@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Varela+Round&display=swap');

.header {
  margin: auto;
  align-items: center;

  font-family: "Varela Round", serif;
  font-size: 3em;
  text-align: center;
  color: #4E45E5;
}
