@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Varela+Round&display=swap');

.removeBtn {
  position: absolute;
  display: block;
  border-radius: 10px;
  padding: 7px 10px;
  cursor: default;
  bottom: 10px;
  left: 10px;

  font-family: "Varela Round";
  font-size: 1.3em;
  font-weight: bolder;
  text-shadow: 0 0 1px crimson;

  color: crimson;
}
