@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.sharesInputForm {
  display: block;
  position: absolute;
  width: 70px;
  height: 50px;
  top: 25px;
  right: 25px;
}

.sharesInput {
  position: absolute;
  background-color: rgba(211, 211, 211, 0.3);
  width: 100%;
  height: 100%;
  padding-left: 0;
  font-size: 2.5em;
  color: rgba(50, 50, 50, 0.5);
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 3px lightgrey;
  font-family: "Ubuntu Mono", sans-serif;
}
